body {
    background-color: #f0f8ff;
    color: #333;
    cursor: url('../cursors/cursor.png'), auto;
}

a, button, .card-link {
    cursor: url('../cursors/pointer.png'), pointer;
}

.navbar {
    border-bottom: 3px solid #ccc;
}

.navbar-brand {
    font-size: 2.0rem;
    font-weight: bold;
    color: #420106;
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
}

.navbar-nav:hover .nav-link:hover {
    font-size: 1.5rem;
    text-decoration: underline;
}

.headline {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #420106;
}

.card {
    margin: 10px;
    text-align: center;
    border: 2px solid #ccc;
    background-color: #e6f7ff;
    color: #333;
    transition: transform 0.2s;
    padding: 30px;
    font-size: 1.1rem;
    min-height: 500px;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #007bff;
    text-decoration: none;
}

.card-body {
    padding: 0px;
}

.team-video {
    width: 100%;
    height: auto;
}

.card-text {
    color: #023364;
    margin-top: 50px;
    font-weight: bold;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 100%;
    max-width: 1200px;
}

.custom-img {
    width: 100%;  /* Ensures full width */
    height: auto;  /* Adjusts height automatically based on aspect ratio */
    object-fit: contain;  /* Ensures the whole image is visible */
    max-height: 100%;  /* Prevents image from exceeding the container height */
}


